body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100vw;
display: flex;
    justify-content: center;
    align-items: center;
    background:url(fondo.jpg) center center ;
    background-size: cover;
}
.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(10, 167, 240, 0.8);
    border-radius: 10px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.boton-redireccion{
    background-color: #e70f0f;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;   
    text-decoration: none;
    border-radius: 5px;
    
}
.boton-redireccion:hover {
    background-color: #141414;
    color: white;
}